{% assign number_of_products = 4 %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

<div itemscope itemtype="http://schema.org/Product" class="product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'master' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="product__top height--fixed">
    {% for image in product.images %}
    {% if image != featured_image %}
    <figure class="product__gallery" style="background-image:url({{ image | product_img_url: 'master' }});">gallery</figure>
    {% endif %}
    {% endfor %}

    <div class="product__data">
      <div class="wrapper">

        {% if product.images.size > 1 %}
        <div class="gallery__nav"></div>
        {% endif %}

        <div class="product__body">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <p class="product__price">
            {% if product.available %}
              <span class="" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">{{   current_variant.price | money }}</span>
              <span class="product__currency h4">{{ shop.currency }}</span>
            {% else %}
              <span class="">{{ 'products.product.sold_out' | t }}</span>
            {% endif %}
          </p>

          {% assign current_variant = product.selected_or_first_available_variant %}
          <div class="field product__title">
          <span class="product__sku">{{ current_variant.sku }}</span> <strong>{{ product.title }}</strong></div>

          <p class="field">
            <span class="field__key h4">Designed by</span>
            <span class="field__value">{{ product.vendor }}</span>
          </p>
          <p class="field">
            <span class="field__key h4">Made in</span>
            <span class="field__value">{{ product.metafields.c_f.origin }}</span>
          </p>

          <div class="product__description">
            {{ product.description }}
          </div>

          <p class="field">
            <span class="field__key h4">Dimensions</span>
            <span class="field__value">{{ product.metafields.c_f.dimensions }}</span>
          </p>
          <p class="field">
            <span class="field__key h4">Materials</span>
            <span class="field__value">{{ product.metafields.c_f.material }}</span>
          </p>
          <p class="field">
            <span class="field__key h4">Ages</span>
            <span class="field__value">{{ product.metafields.c_f.ages }}</span>
          </p>

        </div>

      </div>
    </div>

    <div class="product__bar">
      <div class="wrapper">
        <div class="bar__nav">

        </div>
        <div class="bar__actions">
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="product__form">

            {% for variant in product.variants %}
            <div class="product__variant">

              <select name="id" id="productSelect" class="product-single__variants">
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {%    endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{   variant.price | money_with_currency }}</option>
    
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
              </select>

            </div>
            {% endfor %}

            <div class="product__qty">
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector qty__input">
            </div>

            <button type="submit" name="add" id="AddToCart" class="btn">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>

          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="product__extended">
    <p class="product__price">
      {% if product.available %}
        <span class="" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">{{   current_variant.price | money }}</span>
        <span class="product__currency h4">{{ shop.currency }}</span>
      {% else %}
        <span class="">{{ 'products.product.sold_out' | t }}</span>
      {% endif %}
    </p>

    {% assign current_variant = product.selected_or_first_available_variant %}
    <div class="product__title"><span class="product__sku">{{ current_variant.sku }}</span> <strong>{{ product.title }}</strong></div>
    <div class="product__description">
      <p class="product__vendor"><span>Designed by</span>{{ product.vendor }}</p>
      {{ product.description }}
    </div>

    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="product__form">

      {% for variant in product.variants %}
      <div class="product__variant">

        <select name="id" id="productSelect" class="product-single__variants">
            {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {%    endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{   variant.price | money_with_currency }}</option>
    
            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
            {% endif %}
        </select>

      </div>
      {% endfor %}

      <div class="product__qty">
        <span class="h4">{{ 'products.product.quantity' | t }}</span>
        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector qty__input">
      </div>

      <button type="submit" name="add" id="AddToCart" class="btn--bar">
        <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
      </button>

    </form>
  </div>

 
  {% if collection and collection.products_count > 1 %}
  {% assign current_product = product %}
  {% assign current_product_found = false %}
  <div class="product__related">
    
    <div class="collection__grid">
    {% for product in collection.products limit: number_of_products_to_fetch %}
      {% if product.handle == current_product.handle %}
        {% assign current_product_found = true %}
      {% else %}
        {% unless current_product_found == false and forloop.last %}
          {% include 'product-grid-item' %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
